<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Home</title>
</head>
<body>
    <main>
        <h1>PLANTARIUM</h1>
        <ul class="crud-list">
            <li>
                <a href="/flors"><img src="flor.png" alt="flors"><p>FLORS</p></a>
            </li>
            <li>
                <a href="/arbres"><img src="arbre.png" alt="arbres"><p>ARBRES</p></a>
            </li>
        </ul>
    </main>
</body>
</html>