<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <h1>LOGIN</h1>
    <form id="register-form" action="">
        <div class="input-container">
            <label for="username">Username:</label>
            <input type="text" id="username">
        </div>
        <div class="input-container">
            <label for="password">Password:</label>
            <input type="text" id="password">
        </div>
    </form>
</body>
</html>