* {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;
}

h1 {
    color: blue;
}

body {
    padding: 20px;
    background-color: whitesmoke;
}

ul {
    list-style: none;
    padding: 20px;
}

li {
    background-color: rgb(163, 162, 162);
    padding: 20px;
    margin: 10px;

    transition: all 0.5s ease-out;

}

li:hover {
    transform: scale(1.05);
}