
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color:#F2EDE4;
    color: #738903;
    height: 100vh;
    max-width: 70%;
    margin: auto;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    position: relative;

}

main {
    margin-top: 100px;
}

h1 {
    text-align: center;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #738903;

}

.crud-list {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style-type: none;
    padding: 0;
}

.crud-list img {
    width: 150px;
    height: 150px;

    transition: transform 0.3s ease;

}

.crud-list a {
    text-decoration: none;
    display: inline-block;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    
}

a p {
    color: #738903;

    font-weight: 600;
}

.crud-list img:hover {
    transform: rotate(30deg) scale(1.05);
    transition: transform 0.3s ease;

    filter: brightness(0.8) contrast(1.2) saturate(1.5);
}

button {

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    right: 0;
    top: 0;

    padding: 10px;
    border-radius: 8px;
    border: none;

    align-self: flex-end;
    background-color: #738903;

    font-family:Verdana, Geneva, Tahoma, sans-serif;

    transition: transform background-color 0.3s ease;

}

button:hover {
    cursor: pointer;
    background-color:#B9BF04;
    transition: background-color 0.3s ease;
    transform: scale(1.05);
}

button img {
    width: 14px;

}