body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    padding: 50px 0px;

    background-color:#F2EDE4;
    height: 100vh;
    max-width: 70%;
    margin: auto;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


h1 {
    text-align: center;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #738903;

}

ul {
    list-style: none;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;

    gap: 10px;
}

li {
    margin: 0;    
    width: 400px;
    padding: 20px;



    background-color: #738903;
    color: whitesmoke;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 10px;

}

li .title {
    text-transform: uppercase;
    color: #B9BF04;
    font-weight: 700;
    font-size: larger;
}

li img {
    width: 100px;
}

p {
    margin: 0px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    gap: 12px;

}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 10px;
}

button img, a img {
    width: 20px;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 20px;
    background-color: #F2EDE4;

    border: 0;
    border-radius: 10px;

    transition: transform background-color 0.3s ease;

}

.cta:hover {
    cursor: pointer;
    background-color:#B9BF04;
    transition: background-color 0.3s ease;
    transform: scale(1.05);
}

.add-btn {
    width: 20px;
    text-decoration: none;

    background-color: #B9BF04;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;

    transition: transform background-color 0.3s ease;

}

.add-btn:hover {
    cursor: pointer;
    background-color:#D9D277;
    transition: background-color 0.3s ease;
    transform: scale(1.05);
}


.return-btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;

    text-decoration: none;
    color: black;
}


.return-btn:hover {
    color: #B9BF04;
}